.Container{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 4em;
margin-bottom: 4em;
text-align: left;
}

.Feed{
    max-height: 20em;
    overflow-y: scroll;
    overflow-x: hidden;

}

.Comment{
    width: 17em;
    text-align: left;
    margin-bottom: 1em;
    background-color: #000 important!;
}

.Grid{
    margin-top:3em;
    width: 90%;
}

.Content{
    color:#000;
}

.Form{
    width: 30em;

}
