.ListContainer{
    display: flex;
    flex-direction: row;
    align-items: left;
    max-width: 40em;
    margin-top: 1em;
}

.cardContainer{
    width: 5.5em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.HeaderContainer{
    margin-bottom: 15px;
    margin-top: 20px;
}

